---
import background from "@/assets/background.svg";

import { BodyTabs } from "./BodyTabs";
import { ArrowUp } from "lucide-react";
---

<div id="container">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <main>
    <div class="md:w-5/12 mx-auto">
      <a
        class="fixed bottom-14 bg-black text-white p-2 rounded-md text-center right-4 z-50 flex items-center gap-2"
        href="#container"><ArrowUp size={16} /></a
      >
      <BodyTabs client:load />
    </div>
  </main>
</div>

<style>
  #background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(100px);
  }
</style>
