---
import { pwaInfo } from "virtual:pwa-info";
import { Toaster } from "@/components/ui/sonner";
import { StopWatch } from "@/components/StopWatch";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/gym-app/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <script src="/src/pwa.ts"></script>
  </head>
  <body class="overflow-hidden">
    <StopWatch client:load />
    <div class="md:w-5/12 mx-auto relative">
      <slot />
    </div>
    <Toaster client:load />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
